.app-header {
    font-family: GreatVibes;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #f7d7bb;
    box-shadow: 0px 2px 4px 0px #a5a5a5;
    height: 80px;
    span {
        z-index: 10;
    }
    a,
    a:active,
    a:visited,
    a:focus,
    a:hover,
    a:active {
        text-decoration: none;
        color: $clr2;
    }
    h1 {
        font-size: rem(40px);
        margin-bottom: 0;
        margin-top: 15px;
        font-weight: 900;
        width: 100%;
        z-index: 12;
    }
    img {
        height: 70px;
        width: 70px;
        margin: 0 auto;
        position: absolute;
        // transform: ;
        margin-left: -90px;
        left: 50%;
        transform: translateX(-50%) rotate(-25deg);
        z-index: 11;
    }
    .hamburger {
        right: 20px;
        top: 13px;
        z-index: 11;
        position: absolute;
    }
    .hamburger::after {
        content: '\f805';
        font-family: symbol2;
        font-size: rem(30px);
    }
}

.navHeader {
    margin-top: 13px;
    background-color: #f7d7bb;
    font-family: Courgette;
    z-index: 7;
    width: 100%;
    h2 {
        padding: 5px;
    }
    h2:hover {
        color: rgb(129, 127, 127);
        text-decoration: underline
    }
    a {
        color: $clr2;
        text-decoration: none;
    }
}

// .navbar-main {
//     width: 220px;
//     margin: 0;
//     min-height: 100vh;
//     max-height: 200vh;
//     position: fixed;
//     right: 2px;
//     top: 81px;
//     background-color: #a7814e;
//     z-index: 20;
//     ul {
//         margin: 0;
//         padding: 0;
//     }
//     li {
//         margin: 0;
//         text-align: left;
//     }
// }