.card-recipe {
    // position: relative;
    background-color: $clrC;
    box-shadow: 2px 2px 8px 4px;
    border-radius: 10px;
    transition: transform 0.5s;
    position: relative;
    h2 {
        margin-top: 10px;
        font-weight: 400;
        font-size: rem(28px);
        margin-bottom: 0;
        font-family: GreatVibes;
    }
    img.recipe-image {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        aspect-ratio: 2 / 1;
        // height: 100%;
        object-fit: cover;
        // mix-blend-mode: multiply;
        // filter: grayscale(1) contrast(1.3);
    }
    .cat-tag {
        font-family: GreatVibes;
        font-size: rem(64px);
        color: $clr5;
        position: relative;
    }
    &:hover {
        transform: scale(1.06);
    }
    .margin-block-start {
        margin-block-start: 0;
        padding: 0;
    }
    ul {
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0 !important;
    }
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            margin: 0;
        }
    }
    // &::before {
    //     content: "";
    //     background: linear-gradient(to top, $clr1 0%, rgba($clr1, 0) 100%);;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    // }
}

.heart {
    position: absolute;
    left: 55px;
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    &.is-active {
        transition-duration: 1s;
        background-position: -2800px 0;
    }
}

.button-add-recipe {
    margin: 0;
    width: rem(70px);
    height: rem(70px);
    border-radius: 50%;
    box-shadow: 4px 3px 5px 1px;
    position: fixed;
    bottom: 3%;
    left: 3%;
    background-color: #dfc2a8;
}

.button-add-recipe::before {
    content: '\f067';
    color: #ffffffdb;
    font-family: symbol2;
    font-size: rem(40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-top {
    margin-top: 100px;
}